name: Run Linters

on:
  workflow_call:

jobs:
  run-linters:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Rust Environment
        uses: ./.github/actions/setup
        with:
          components: rustfmt,clippy

      - name: Run Linters
        run: just lint
        shell: bash
